* {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.php {
  background-color: #c5c5c5;
  text-align: left;
  color: #fff;
  height: 500px;

  .container {
    padding: 120px 0 0 50px;

    h3 {
      width: 20%;
      font-size: 30px;
    }

    .par {
      width: 30%;
      font-size: 18px;
    }
  }
}

.all {
  .row1 {
    margin: -70px 0 0 30px;

    h5 {
      font-weight: bold;
    }

    .card {
      height: 140px;
      border-radius: 20px;
      margin-right: 20px;
      width: 200px;
      background-color: #ebebeb;
      padding-left: 20px;
      color: #272727;

      p {
        width: 85%;
        font-size: 15px;
      }
    }

    .card1 {
      background-color: #123163;
      color: #fff;
    }
  }
}


.why {
  margin-top: 130px;

  h2 {
    font-size: 48px;
    color: #39374d;
    width: 60%;
    padding-bottom: 50px;
  }

  p {
    font-size: 18px;
    color: #262626;
    width: 95%;
  }

  .col-3 p {
    height: 28%;
  }

}

.info {
  .icon {
    font-size: 30px;
    color: #3e50a2;
  }

}

.about-page {
  .lesson-row {
    margin-top: 88px;
    height: 100px;

    .lesson-img {
      width: 100px;
      height: 100%;
      border-radius: 74px;
      border: solid 1px #707070;
      background-color: #123163;
      margin-right: 25.9px;
    }

    .lesson-tittle {
      font-size: 50px;
      font-weight: 800;
      text-align: left;
      color: #39374d;
      margin-top: 26.6px;
    }
  }

  .test-btn {
    border-radius: 30px;
    margin: 180px 0;
    width: 678px;
    height: 84px;
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
  }

  .related-tech {
    width: 100%;
    height: 566px;
    border-radius: 40px;
    border: solid 10px #ffcc00;
    background-color: #ffffff;
    position: relative;

    .icon {
      position: absolute;
      top: 50px;
      right: 50px;
      color: #39374d;
    }

    .related-tech-img {
      width: 385px;
      height: 385px;
      background-color: #c5c5c5;
      margin-left: 70px;
    }

    .related-tech-content {
      margin: 50px 0 0 50px;

      h3 {
        height: 121.5px;
        font-size: 52.6px;
        font-weight: 800;
        color: #39374d;
      }

      h2 {
        height: 96.4px;
        font-size: 56.2px;
        font-weight: 600;
        color: #3e50a2;
      }

      p {
        margin-bottom: 88.9px;
        height: 96.4px;
        font-size: 29.2px;
        color: #262626;
      }
    }
  }

  .swap {
    height: 50px;
    margin: 180px 0;
    font-size: 30px;
    color: black;

    ul {
      width: 80%;

    }

    .icon {
      font-size: 30px;
      height: 100%;
    }
  }
}