@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import '~bootstrap';
@import "variables";

* {
  list-style: none;
}

body {
  font-family: $fontFamily;
  color: $mainColor;
  font-weight: 800;
  background: $manBg;
}

.main-color {
  color: $mainColor;
}

.bg-main-color {
  background: $mainColor;
}

.bg-outline-main-color {
  border: $mainColor 1px solid;
}

.tob-bar {
  li {
    font-size: 28px;
    font-weight: bold;
    //line-height: 1.2;
    text-align: center;
    height: 81px;
    border-right-width: 2px;
    line-height: 81px;
    padding: 0 41px;

    a {
      color: #9f9f9f;
    }

    a.contact-us {
      border-radius: 40px;
      background: $mainColor;
      color: #FFFF;
      font-size: 28px;
      font-weight: bold;
      padding: 20px 46px;
    }
  }
}

nav {
  ul {
    li {
      margin-right: 55px;

      a {
        font-family: $fontFamily;
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        color: #7b7b7b;
      }

      a.active {
        color: $mainColor;
      }

    }
  }
}